<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Star Vlasta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/jquery.bxslider.css">
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.bxslider.min.js"></script>
    <script src="../js/jquery.style.js"></script>
    <script src="js/tum.view.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
</head>
<body>
    
    <!--ヘッダー-->
    <header>
        <!--サイト名-->
        <h1 class="wrap"><img src="../images/logo.png" alt="Star Vlasta"></h1>
        
        <!--モバイルメニュー-->
        <div class="mobile">
        <a class="menu-trigger" href="javascript:void(0)" onclick="">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <nav>
            <ul>
            <li><a href="../index.html">TOP</a></li>
            <li><a href="index.html">GARARY</a></li>
            <li><a href="../works/index.html">WORKS</a></li>
            <li><a href="../other/index.html">OTHER</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <!--ヘッダーここまで-->
    
    
    <!--スライド-->
    <div class="relative wrap">
    <ul class="bxslider">
        <li><img src="../images/mainvisual01.jpg" alt="mainvisual01"></li>
        <li><img src="../images/mainvisual02.jpg" alt="mainvisual02"></li>
        <li><img src="../images/mainvisual03.jpg" alt="mainvisual03"></li>
        <li><img src="../images/mainvisual04.jpg" alt="mainvisual04"></li>
        <li><img src="../images/mainvisual05.jpg" alt="mainvisual05"></li>
    </ul>
    <!--スライドメニュー-->
    <nav class="pc">
    <p class="menu01 hvr-pulse-grow infinite"><a href="../index.html"><img src="../images/menu01.png" alt="menu01"></a></p>
    <p class="menu02 hvr-pulse-grow infinite"><a href="index.html"><img src="../images/menu02.png" alt="menu02"></a></p>
    <p class="menu03 hvr-pulse-grow infinite"><a href="../works/index.html"><img src="../images/menu03.png" alt="menu03"></a></p>
    <p class="menu04 hvr-pulse-grow infinite"><a href="../other/index.html"><img src="../images/menu04.png" alt="menu04"></a></p>
    </nav>
    </div>
    
    
    <div class="wrap">
    <!--記事-->
    <div class="box">
    <h2><img src="images/gallery.png" alt="gallery"></h2>
    
    <!--イラスト-->
    <section>
    <h3>ILLUST</h3>
    <script type="text/javascript" src="http://api.umbls.com/thumbnails/get?user=miwashiiba&num=9"></script>
        <p>仕事絵以外の落書き他はブログ、ツイッターなどによく上げてます。Tumblrは<a href="http://miwashiiba.tumblr.com" target="_blank">こちら</a>です。</p>
        <p>Tumblrより古い絵は<a href="http://f.hatena.ne.jp/miwasiba/１VOCALOID/" target="_blank">こちら</a>に上げています。</p>
    </section>
        
    <!--動画-->
    <section>
    <h3>MOVIE</h3>
    <div class="movie">
    <iframe width="200" height="200" src="http://ext.nicovideo.jp/thumb_mylist/58294739" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/mylist/58294739">【ニコニコ動画】</a></iframe>
    <iframe width="200" height="200" src="http://ext.nicovideo.jp/thumb_mylist/25806743" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/mylist/25806743">【ニコニコ動画】</a></iframe>
    <iframe width="200" height="200" src="http://ext.nicovideo.jp/thumb_mylist/59520562" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/mylist/59520562">【ニコニコ動画】</a></iframe>
    <iframe width="200" height="200" src="http://ext.nicovideo.jp/thumb_mylist/25228084" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/mylist/25228084">【ニコニコ動画】</a></iframe>
    </div>
    </section>
    
    <!--ゲーム-->
    <section class="game">
    <h3>GAME</h3>
    
    
          <!--ダブル-->
    <div class="gamebox">
    <figure><a href="https://tfdouble.tyabo.com" target="_blank"><img src="images/gdab01.jpg" width="325" height="244" alt="game5"></a></figure>
    <h4>かおなしのダブル</h4>
    <p>謎解きADVです。</p>
    <p><span>※更新中</span></p>
    <ul class="pc">
        <li><a href="images/gdab01.jpg"><img src="images/gdab01.jpg" width="135" height="101" alt="gaya01"></a></li>
        <li><a href="images/gdab02.jpg"><img src="images/gdab02.jpg" width="135" height="101" alt="gaya02"></a></li>
        <li><a href="images/gdab03.jpg"><img src="images/gdab03.jpg" width="135" height="101" alt="gaya03"></a></li>
    </ul>
    </div>
    
      <!--肖死あかし-->
    <div class="gamebox">
    <figure><a href="http://ayakashiakashi.bufsiz.jp/" target="_blank"><img src="images/gaya01.jpg" width="325" height="244" alt="game5"></a></figure>
    <h4>肖死あかし</h4>
    <p>ホラー要素アリのオカルトミステリーノベルです。</p>
    <p><span>※更新中</span></p>
    <ul class="pc">
        <li><a href="images/gaya01.jpg"><img src="images/gaya01.jpg" width="135" height="101" alt="gaya01"></a></li>
        <li><a href="images/gaya02.jpg"><img src="images/gaya02.jpg" width="135" height="101" alt="gaya02"></a></li>
        <li><a href="images/gaya03.jpg"><img src="images/gaya03.jpg" width="135" height="101" alt="gaya03"></a></li>
    </ul>
    </div>
        
    <!--1beatheart-->
    <div class="gamebox">
    <figure><a href="http://1beatheart.nobody.jp" target="_blank"><img src="images/g1beat01.jpg" width="325" height="244" alt="game4"></a></figure>
    <h4>1BeatHeart</h4>
    <p>過去作「1bitHeart」のスピンオフ作品です。</p>
    <p><span>※前作の重大なネタバレを含みます。</span></p>
    <ul class="pc">
        <li><a href="images/g1beat01.jpg"><img src="images/g1beat01.jpg" width="135" height="101" alt="g1beat01"></a></li>
        <li><a href="images/g1beat02.jpg"><img src="images/g1beat02.jpg" width="135" height="101" alt="g1beat02"></a></li>
        <li><a href="images/g1beat03.jpg"><img src="images/g1beat03.jpg" width="135" height="101" alt="g1beat03"></a></li>
    </ul>
    </div>
        
    <!--1bitheart-->
    <div class="gamebox">
    <figure><a href="http://1bitheart.nobody.jp" target="_blank"><img src="images/g1bit01.jpg" width="325" height="244" alt="game3"></a></figure>
    <h4>1bitHeart</h4>
    <p>友達を作りつつ、ついでに街の事件も解決していく、そんなゲームです。</p>
    <p><a href="http://store.steampowered.com/app/618720/1bitHeart/" target="_blank">Steam</a>でも配信されています。</p>
    <ul class="pc">
        <li><a href="images/g1bit01.jpg"><img src="images/g1bit01.jpg" width="135" height="101" alt="g1bit01"></a></li>
        <li><a href="images/g1bit02.jpg"><img src="images/g1bit02.jpg" width="135" height="101" alt="g1bit02"></a></li>
        <li><a href="images/g1bit03.jpg"><img src="images/g1bit03.jpg" width="135" height="101" alt="g1bit03"></a></li>
    </ul>
    </div>
        
    <!--Lieat-->
    <div class="gamebox">
    <figure><a href="http://lieat.ifdef.jp" target="_blank"><img src="images/gLie01.jpg" width="325" height="244" alt="game2"></a></figure>
    <h4>LiEat</h4>
    <p>詐欺師と、嘘喰いドラゴンのお話 全３話</p>
    <p><a href="http://store.steampowered.com/app/373770/LiEat/" target="_blank">Steam</a>でも配信されています。</p>
    <ul class="pc">
        <li><a href="images/gLie01.jpg"><img src="images/gLie01.jpg" width="135" height="101" alt="glie01"></a></li>
        <li><a href="images/gLie02.jpg"><img src="images/gLie02.jpg" width="135" height="101" alt="glie02"></a></li>
        <li><a href="images/gLie03.jpg"><img src="images/gLie03.jpg" width="135" height="101" alt="glie03"></a></li>
    </ul>
    </div>
    
    <!--Alicemare-->
    <div class="gamebox">
    <figure><a href="http://alicemare.chottu.net" target="_blank"><img src="images/gAlice01.jpg" width="325" height="244" alt="game1"></a></figure>
    <h4>Alicemare</h4>
    <p>童話、絵本をモチーフにしたホラー風な探索系ゲームです。</p>
    <p><a href="http://store.steampowered.com/app/524850/Alicemare/" target="_blank">Steam</a>でも配信されています。</p>
    <ul class="pc">
        <li><a href="images/gAlice01.jpg"><img src="images/gAlice01.jpg" width="135" height="101" alt="gAlice01"></a></li>
        <li><a href="images/gAlice02.jpg"><img src="images/gAlice02.jpg" width="135" height="101" alt="gAlice02"></a></li>
        <li><a href="images/gAlice03.jpg"><img src="images/gAlice03.jpg" width="135" height="101" alt="gAlice03"></a></li>
    </ul>
    </div>
        
    </section>
    <!--ゲームここまで-->
    
    <!--漫画-->
    <section>
    <h3>COMIC</h3>
    
    <!--ノットイーヴィル！-->
    <ul class="comic">
        <li><a href="images/gnot01.jpg" data-fancybox="comic1" data-caption="ノットイーヴィル！01"><img src="images/gnot01.jpg" alt="gnot1" width="230" height="325"></a></li>
        <li class="pc"><a href="images/gnot02.jpg" data-fancybox="comic1" data-caption="ノットイーヴィル！02"><img src="images/gnot02.jpg" alt="gnot2" width="230" height="325"></a></li>
        <li class="pc"><a href="images/gnot03.jpg" data-fancybox="comic1" data-caption="ノットイーヴィル！03"><img src="images/gnot03.jpg" alt="gnot3" width="230" height="325"></a></li>
    </ul>
    <h3>ノットイーヴィル！</h3>
        <p>Webにて<a href="http://notevil.xxxxxxxx.jp" target="_blank">フリー公開</a>しているオリジナル漫画です。PHP研究所より<a href="https://www.amazon.co.jp/dp/4569830749" target="_blank">文庫版</a>も出版されています。</p>
    
    </section>
    <!--漫画ここまで-->
        
    <!--しめじ-->
    <section class="shimeji">
    <h3>SHIMEJI</h3>
        <p><img src="images/gsimeji01.png" alt="gsimeji01"></p>
        <p><a href="http://www.group-finity.com/Shimeji/">「しめじ - Ultimate Edition」</a>を 差し替えたものです。</p>
        <p><span>※増えすぎたらタスクバーのアイコン右クリック&#8658;一匹だけ残す等適度に行う事推奨です。</span></p>
        <ul>
            <li>リン (pass：Crin)：<a href="https://ux.getuploader.com/miwashiba/download/25" target="_blank">DL</a></li>
            <li>レン (pass：Clen)：<a href="https://ux.getuploader.com/miwashiba/download/26" target="_blank">DL</a></li>
            <li>ミク (pass：Cmik)：<a href="https://ux.getuploader.com/miwashiba/download/27" target="_blank">DL</a></li>
        </ul>
    </section>
        
    </div>
    <!--記事ここまで-->
        
    </div>
    
    <!--左下トップアイコン-->
    <p class="topscroll"><a href="#"><img src="../images/topscroll.png" alt="topscroll"></a></p>
    
    <!--フッター-->
    <footer>
    <p>Copyright &copy;2017 miwashiiba All Rights Reserved.</p>
    </footer>
    
</body>
</html>