<div class="c-section__box p-gallery-image">
  <h3 class="c-section__sub-title">Illust</h3>
  <p class="c-section__text">
    仕事絵以外の落書き他はブログ、ツイッターなどによく上げてます。Tumblrは<a href="https://miwashiiba.tumblr.com" target="_blank">こちら</a>です。<br>
    Tumblrより古い絵は<a href="https://f.hatena.ne.jp/miwasiba/１VOCALOID/" target="_blank">こちら</a>に上げています。
  </p>
</div>