<div class="p-gallery-movie c-section__box">
  <h3 class="c-section__sub-title">Movie</h3>
  <div class="p-gallery-movie__contents">
    <iframe src="https://www.youtube.com/embed/xtKa3EvNEh4?autoplay=1&controls=0&loop=1&controls=0&mute=1&playlist=xtKa3EvNEh4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ul class="p-gallery-movie__list">
      <li class="p-gallery-movie__item">
        <a class="p-gallery-movie__link" href="https://www.nicovideo.jp/user/21427527" target="_blank">niconico</a>
      </li>
      <li class="p-gallery-movie__item">
        <a class="p-gallery-movie__link" href="https://www.youtube.com/channel/UCml5apQ8VqqKPKUCvDzl3VQ" target="_blank">YouTube</a>
      </li>
    </ul>
  </div>
</div>