<%
  const links = [
    {
      year: '2020',
      class: 'is-active',
      item: [
        { link: 'https://twitter.com/pj_sekai/status/1300629934595956737', text: 'SEGA×Craft Egg/Colorful Palette - 【プロジェクトセカイ カラフルステージ！ feat. 初音ミク　カウントダウンイラスト 】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=KRVFPPYcJUc', text: 'GIA&KIRA - 【 Giga & KIRA - ‘GETCHA!’ ft.初音ミク & GUMI 】　イラスト描き下ろし' },
        { link: 'https://t.co/pc2LJcz0lT?amp=1', text: 'スマなろ - 【オリジナル楽曲「サニーデイフレンズ」 】　イラスト描き下ろし' },
        { link: 'https://t.co/YjZXP4J4rr?amp=1', text: 'ましろ（にじさんじ） - 【 / ましろ〈歌ってみた〉 】　イラスト描き下ろし' },
        { link: 'https://youtu.be/L5sbzUFHot8', text: 'ましろ（にじさんじ） - 【あの夏が飽和する。 / ましろ〈歌ってみた〉 】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=8eQxRL5Lqgw&feature=youtu.be', text: 'メリッサ・キンレンカ（にじさんじ） - 【シニカルナイトプラン/ メリッサ・キンレンカ Cover 】　イラスト描き下ろし' },
        { link: 'https://youtu.be/3FukEgcaifY', text: 'ましろ（にじさんじ） - 【猫の食卓 / ましろ〈歌ってみた〉 】　イラスト描き下ろし' },
        { link: 'https://youtu.be/uQHbFzEDGbs', text: 'ひととせ探偵団 - 【花雲くゆり　Live2D設定 】　Live2D設定' },
        { link: 'https://twitter.com/v_flower_jp/status/1242796891038822403', text: 'ガイノイド(株) - 【「グルーヴコースター 4MAX ダイヤモンドギャラクシー」ナビゲート音声 】　ボイス調声' },
        { link: 'https://smus.jp/', text: 'ガイノイド(株) - 【ガイノイドトーク『flower』　立ち絵イラスト】　イラスト描き下ろし' },
        { link: 'https://nico.ms/sm36080043', text: 'まふまふ - 【【MV】リフジンセイロンパ／うらたぬき×まふまふ　デフォルメイラスト 】　イラスト描き下ろし' },
        { link: 'https://twitter.com/vtuberhouse', text: 'せかんどはうす - 【Vtuber「せかんどはうす」メンバーLive2D設定】　Live2D設定' },
        { link: 'https://twitter.com/momohina_nano', text: '桃雛なの - 【 Vtuber「桃雛なの」キャラクターデザイン＆イラスト＆Live2D設定 】　イラスト描き下ろし' }
      ]
    },
    {
      year: '2019',
      item: [
        { link: 'https://nico.ms/sm35948072', text: '素質"は"あるラジオ - 【セカンドシーズン用サムネイラスト 】　イラスト描き下ろし' },
        { link: 'https://youtu.be/nDCgx7PqV0A', text: '花寄女子寮 - 【Happy Halloween(cover)　小東ひとな×花丸はれる 】　イラスト描き下ろし' },
        { link: 'https://melochin.bitfan.id/', text: 'めろちん - 【めろちん公式マスコットキャラクター「メメ＆ロロ」デザイン 】　イラスト描き下ろし' },
        { link: 'https://smus.jp/', text: 'そらまふうらさか実行委員会 - 【「そらまふうらさかのふゆやすみ！」メインイラスト 】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=rBTRhAhvs4s', text: 'まふまふ - 【「Pretender -Arrange ver.- 歌ってみた」　イラスト】　イラスト描き下ろし' },
        { link: 'https://twitter.com/Hijirime_Laeria', text: '聖女れりあ - 【 Vtuber「 聖女れりあ」キャラクターデザイン＆イラスト＆Live2D設定 】　イラスト描き下ろし' },
        { link: 'http://monoully.jp/products/list.php?category_id=105', text: 'Gizmobies(株) - 【「CATSLAVE mike」　スマホカバー他デザイン数種】　イラスト描き下ろし' },
        { link: 'https://himemico.tumblr.com/', text: '主催たんぱく・水無瀬 - 【「ヒメミコ合同」　表紙イラスト】　イラスト描き下ろし' },
        { link: 'http://sp.wmg.jp/mikusymphony/', text: 'ワーナーミュージック・ジャパン(株) - 【初音ミクシンフォニー2019 パンフレットイラスト】　イラスト描き下ろし' },
        { link: 'https://twitter.com/Reinier_Baker', text: 'ルカ - 【 Vtuber「 レイニール・ベイカー 」キャラクターデザイン＆イラスト＆Live2D設定 】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=d7to9URtLZ4', text: 'まふまふ - 【「パンダヒーロー 歌ってみた」　PV用イラスト素材】　イラスト描き下ろし' },
        { link: 'https://twitter.com/kuramaosk', text: '御先 蔵馬 - 【Vtuber「御先 蔵馬」キャラクターデザイン＆イラスト＆Live2D設定】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=RUPseAHlaAs&feature=youtu.be', text: 'ガイノイド(株) - 【「ぴっぴぴりから、ぴりからこ。」　PV用イラスト素材】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=4__le7ngNsU', text: 'Chouette.(株) - 【天月「This Night」　PV用イラスト&アニメーション素材】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/channel/UCSinB5NeU_siWu-QffIaqgw', text: 'ラージャン - 【ラージャン配信用Live2Dモデル　デザイン＆イラスト＆Live2D設定】　イラスト描き下ろし' },
        { link: 'http://site.nicovideo.jp/atsumaru/contents/kinenshashin/', text: 'アツマール協力 - 【祈念寫眞-ｷﾈﾝｼｬｼﾝ-　メインキャラデザイン、イラスト】　イラスト描き下ろし' },
        { link: 'https://twitter.com/splaika_99', text: 'ツクモ - 【ツクモ配信用Live2Dモデル　イラスト＆Live2D設定】　イラスト描き下ろし' },
        { link: 'https://www.gynoid.co.jp/news/view/60', text: 'ガイノイド(株) - 【VOCALOID5/ガイノイドTalk「鳴花ヒメ・ミコト」デザイン、イラスト他】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=XAGQtGb7sVY&feature=youtu.be', text: '音羽ララ - 【「《ぴぽぱぽ》ハッピーシンセサイザ 歌ってみた ♪音羽ララ♪」動画用イラスト】　イラスト描き下ろし' },
        { link: 'https://www.youtube.com/watch?v=9UHt3c59NdM', text: 'kradness  - 【「U.S.A. - DA PUMP / REMIX Ver. 歌ってみた by kradness」動画用イラスト】　イラスト描き下ろし' },
        { link: 'http://onigiriwagon.sakura.ne.jp/rptd/ko.html', text: 'A24主催 - 【ロールプレイタッグディプロマシー卓上カレンダー】　イラスト描き下ろし' }
      ]
    },
    {
      year: '2018',
      item: [
        { link: 'https://amatsuki.jp/', text: 'ユニバーサルミュージック合同会社(株) - 【天月4thシングル「恋人募集中（仮）」特典イラスト】　イラスト描き下ろし' },
        { link: 'https://www.amazon.co.jp/dp/B07H1TSN86/ref=cm_sw_r_tw_dp_U_x_ph28BbCKW6A', text: 'クリプトン・フューチャー・メディア(株) - 【エンスカイ”初音ミク 2019カレンダー”】　イラスト描き下ろし' },
        { link: 'https://magicalmirai.com/2018/', text: 'クリプトン・フューチャー・メディア(株) - 【Blu-ray&DVD『初音ミク「マジカルミライ 2018」』　特典他】　イラスト描き下ろし' },
        { link: 'http://sp.wmg.jp/mikusymphony/', text: 'ワーナーミュージック・ジャパン(株) - 【初音ミクシンフォニー2018-2019 パンフレットイラスト】　イラスト描き下ろし' },
        { link: 'https://hanatombo.booth.pm/items/1072542', text: 'hanatombo* - 【”Healing Twins ””　特典カード】　イラスト描き下ろし' },
        { link: 'https://www.nicovideo.jp/watch/1541161323', text: 'タベホ主催 - 【TRPG放送”渡リ廊下ニテ踊ル  ”　キャラクター】　イラスト描き下ろし' },
        { link: 'http://www.gynoid.co.jp/news/view/59/', text: 'ガイノイド(株) - 【”v flower DJ NIGHT”　イラスト＆衣装デザイン】　イラスト描き下ろし' },
        { link: 'http://cospa.co.jp/itemlist/id/01074/mode/series', text: 'クリプトン・フューチャー・メディア(株) - 【コスパ”鏡音リン・レン”　つままれストラップ】　イラスト描き下ろし' },
        { link: 'http://www.nicovideo.jp/watch/sm33510542', text: 'クリプトン・フューチャー・メディア(株) - 【マジカルミライ　鏡音テーマ曲”劣等上等”動画イラスト】　イラスト描き下ろし' },
        { link: 'http://p.eagate.573.jp/game/sdvx/', text: 'KONAMI（株） - 【「SOUND VOLTEX IV」収録楽曲”私の恋色。”　ジャケットイラスト】　イラスト描き下ろし' },
        { link: 'http://exittunes.com/detail/qwce-00653.html', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS Vocaloseasons feat.初音ミク～Spring～ 特典アクキー】　イラスト描き下ろし' },
        { link: 'https://twitter.com/stpri_info', text: 'エグジットチューンズ(株) - 【すとぷり　すとめもライブグッズイラスト】　イラスト描き下ろし' },
        { link: 'https://anime.iowl.jp/campaigns/1', text: '株式会社ウェイブ - 【TVアニメ「25歳の女子高生」第8話 　エンドカードイラスト】　イラスト描き下ろし' },
        { link: 'http://www.nicovideo.jp/watch/sm32772479', text: 'A24主催 - 【ロールプレイタッグディプロマシー　一部キャラ絵】　イラスト描き下ろし' },
        { link: 'https://www.amazon.co.jp/dp/4569787487/', text: 'PHP研究所 - 【悪ノ物語　紙の悪魔と秘密の書庫　挿絵他サブキャラデザイン】　イラスト描き下ろし' }
      ]
    },
    {
      year: '2017',
      item: [
        { link: 'http://www.gynoid.co.jp/news/view/56/', text: 'ガイノイド(株) - 【ガイノイド配布イラスト flower冬服ver】　イラスト描き下ろし' },
        { link: 'https://twitter.com/miwasiba/status/945880958808481793', text: 'hot maple  - 【ユーリ!!!onICE同人イラスト本 ゲスト】　イラスト描き下ろし' },
        { link: 'http://sp.wmg.jp/mikusymphony/', text: 'ワーナーミュージック・ジャパン(株) - 【初音ミクシンフォニー2017 パンフレットイラスト】　イラスト描き下ろし' },
        { link: 'https://www.amazon.co.jp/gp/product/4758009686', text: '一迅社(株) - 【ニューダンガンロンパV3みんなのコロシアイ新学期コミックアンソロジー VOL.3 】　イラスト描き下ろし' },
        { link: 'https://twitter.com/soraru_info/status/921698909600210944', text: 'そらる - 【「夢見るたまごの育て方」VVオンライン特典イラスト】　イラスト描き下ろし' },
        { link: 'http://kagaminext.extsm.com/', text: 'エグジットチューンズ(株) - 【「Kagaminext feat.鏡音リン、鏡音レン」特典イラスト】　イラスト描き下ろし' },
        { link: 'http://publishing.playism.jp/va11halla', text: 'PLAYISM - 【VA-11 Hall-A (ヴァルハラ)　リバーシブルパッケージ裏面】　イラスト描き下ろし' },
        { link: 'http://shoumetsu.wrightflyer.net/', text: 'クリプトン・フューチャー・メディア(株) - 【「消滅都市２」初音ミクコラボ　鏡音リン・レン】　イラスト描き下ろし' },
        { link: 'https://twitter.com/miwasiba/status/900296553348255744', text: 'KLASSE14 - 【KLASSE14 model：VOLARE SKY MIDNIGHT 宣伝用イラスト】　イラスト描き下ろし' },
        { link: 'http://store.steampowered.com/app/618720/1bitHeart/', text: 'STEAM - 【「1bitHeart」パブリッシング＆STEAM販売】　ゲーム諸々' },
        { link: 'http://store.steampowered.com/app/618720/1bitHeart/', text: '音転美学園くせモノ部  - 【イベント用ポスターイラスト】　イラスト描き下ろし' },
        { link: 'https://www.amazon.co.jp/dp/4569836615/', text: 'PHP研究所 - 【ナユタン星からのアーカイヴ】　イラスト描き下ろし' },
        { link: 'https://adobe-miku10th-fes.com/share/XI5ARPepAhTy/', text: 'アドビシステムズ株式会社 - 【初音ミク10周年企画「MIKU DANCING FES.」参加 】　イラスト描き下ろし' },
        { link: 'https://www.amazon.co.jp/dp/4758009554/', text: '一迅社(株) - 【ニューダンガンロンパV3みんなのコロシアイ新学期コミックアンソロジー VOL.2 】　イラスト描き下ろし' },
        { link: 'https://kennehenne.booth.pm/items/555540', text: 'やみなべ（合同） - 【ダンガンロンパV3同人「やみなべ」】　漫画/イラスト描き下ろし' },
        { link: 'http://akareco.jp/', text: 'スクウェア・エニックス(株) - 【アプリ「アカシックリコード」　１キャラ】　イラスト描き下ろし' },
        { link: 'http://idearoom.jp/yumetoki/', text: 'おにぎり研究ルーム - 【謎解き系ドラマCD「ユメトキ」】　イラスト描き下ろし' },
        { link: 'http://www.amebaspgame.com/uchihime/lp/', text: 'サイバーエージェント(株) - 【アプリ「ウチの姫さまがいちばんカワイイ」】　イラスト描き下ろし' },
        { link: 'http://amzn.asia/afUXNOO', text: '一迅社(株) - 【ニューダンガンロンパV3みんなのコロシアイ新学期コミックアンソロジー】　漫画描き下ろし' },
        { link: 'http://ishtaria-web.siliconstudio.co.jp/', text: 'シリコンスタジオ(株) - 【アプリ「刻のイシュタリア」　１キャラ】　イラスト描き下ろし（以降継続で何点か）' },
        { link: 'https://novel.pixiv.net/works/716', text: 'ビーズログ文庫アリス(株) - 【小説版「1bit Heart」　イラスト周り】　イラスト描き下ろし' }
      ]
    },
    {
      year: '2016',
      item: [
        { link: 'http://p.eagate.573.jp/game/sdvx/', text: 'KONAMI（株） - 【「SOUND VOLTEX IV」収録楽曲”水槽のクジラ”　ジャケットイラスト】　イラスト描き下ろし' },
        { link: 'http://store.steampowered.com/app/524850/?l=japanese', text: 'STEAM - 【「Alicemare」パブリッシング&amp;STEAM販売】　ゲーム諸々' },
        { link: 'http://hikikomoridemo.jp/', text: 'エグジットチューンズ(株) - 【まふまふワンマン「ひきこもりでもLIVEがしたい！」】　イラスト描き下ろし&amp;ロゴデザイン' },
        { link: 'http://win100.jp/', text: '晋遊舎 - 【Windows100% 2016年11月号】　ゲームの紹介' },
        { link: 'https://gamemaga.denfaminicogamer.jp/madichiru', text: 'ドワンゴ（株） - 【まぢちる　第二話　エンドカード】　イラスト描き下ろし' },
        { link: 'http://pripricafe.com/ike_shop_arisu.html', text: 'ミニアニ（株） - 【Alice mare×プリンセスショップコラボ　グッズ】　イラスト描き下ろし' },
        { link: 'http://special.hackadoll.com/0839project/', text: 'ディー・エヌ・エー(株) - 【「ハッカドール×初音ミク」 コラボイラスト】　イラスト描き下ろし' },
        { link: 'http://www.lagoa.jp/shopdetail/000000002114', text: '窓付き＠主催 - 【コンピアルバム「虹色パレード」　ジャケット】　イラスト描き下ろし' },
        { link: 'http://sp.wmg.jp/mikusymphony/', text: 'ワーナーミュージック・ジャパン(株) - 【初音ミクシンフォニー パンフレットイラスト】　イラスト描き下ろし' },
        { link: 'https://store.line.me/stickershop/product/1292567/', text: '株式会社ガイノイド - 【flowerLINEスタンプ「スタンプ花ちゃん」】　イラスト描き下ろし' },
        { link: 'http://cp.pocky.jp/okashino-iine/', text: 'クリプトン・フューチャー・メディア(株) - 【グリコアーモンドピーク 初音ミクコラボレーション】　イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/dp/4569830749', text: 'PHP研究所 - 【漫画「ノットイーヴィル！　第一巻」】 収録&amp;一部描き下ろし' },
        { link: 'http://www.jvcmusic.co.jp/-/Artist/A025422.html', text: 'ビクターエンタテイメント(株) - 【ゐづメジャー1stアルバム「w1th」　特典他】　イラスト描き下ろし' },
        { link: 'http://pallete.extsm.com/', text: 'エグジットチューンズ(株) - 【「EXIT TUNES PRESENTS PALETTE」　ジャケット】　イラスト収録' },
        { link: 'http://www.h-kuji.com/goods/goods21.html', text: 'クリプトン・フューチャー・メディア(株) - 【Happyくじ　初音ミク 2016 SPRING VER.】　イラスト収録' },
        { link: 'http://mikuexpo.com/jp2016/', text: 'クリプトン・フューチャー・メディア(株) - 【「MIKU EXPO」企画展アニメイトビジュアル　福岡】　イラスト描き下ろし' },
        { link: 'http://store.steampowered.com/app/373770/', text: 'STEAM - 【「LiEat」パブリッシング&amp;STEAM販売】　ゲーム諸々' },
        { link: 'http://chronicle.sega-net.com/', text: '株式会社セガゲームス - 【アプリ「チェインクロニクル“KADOKAWA コラボ”」】　イラスト描き下ろし' },
        { link: 'http://ishtaria-web.siliconstudio.co.jp/', text: 'シリコンスタジオ(株) - 【アプリ「刻のイシュタリア」　１キャラ】　イラスト描き下ろし（以降継続で何点か）' },
        { link: 'http://www.utakatsu.com/', text: 'ウタカツ！ - 【ウタカツ！ミーティング-volume002-『スクールディスコ』　一部グッズ】　イラスト描き下ろし' },
        { link: 'http://www.v-flower.jp/', text: '株式会社ガイノイド - 【flower 2ndアルバム「一期一会」　ジャケット】　イラスト描き下ろし' }
      ]
    },
    {
      year: '2015',
      item: [
        { link: 'http://illustchris.com/magical_miku/', text: 'ＣＨＲＩＳ主催 - 【同人アンソロジー「マジカルミク」　ゲスト】　イラスト描き下ろし' },
        { link: 'http://www.enskyshop.com/products/7663', text: '株式会社エンスカイ - 【初音ミク クリアカードコレクションガム2】　イラスト描き下ろし' },
        { link: 'http://www.lenconpilation-2.com/', text: 'LC製作委員会 - 【鏡音レン コンピレーションアルバム『LC』 ジャケット】　イラスト描き下ろし' },
        { link: 'http://www.freem.ne.jp/special/project/18', text: '有限会社ふりーむ - 【フリーゲームカレンダー２０１６】　イラスト描き下ろし' },
        { link: 'http://www.kadokawa.co.jp/co/', text: '株式会社KADOKAWA - 【コンプティーク2015年11月号】　小説の紹介＆コメント' },
        { link: 'http://www.shinyusha.co.jp/~top/00ip/ip.html', text: '晋遊舎 - 【iP! 2015年11月号】　ゲームの紹介' },
        { link: 'http://suisou.extsm.com/', text: 'エグジットチューンズ(株) - 【Sou 1stアルバム「水奏レグルス」　特典】　ラバーストラップデザイン' },
        { link: 'http://miku-pack.jp/', text: 'KADOKAWA/アスキー・メディアワークス - 【「MIKU-Pack 15」表紙&amp;イラスト特集】 イラスト描き下ろし＆収録' },
        { link: 'http://www.php.co.jp/lieat-novel/', text: 'PHP研究所 - 【小説「LiEat」　表紙・本文他】 執筆&amp;イラスト描き下ろし' },
        { link: 'http://ishtaria-web.siliconstudio.co.jp/', text: 'シリコンスタジオ(株) - 【アプリ「刻のイシュタリア」　１キャラ】　イラスト描き下ろし（以降継続で何点か）' },
        { link: 'http://www.dtmm.co.jp/item/2198', text: '寺島情報企画(株) - 【DTMマガジン2015年9月号 v4 flowerページ」】　イラスト＆コメント収録' },
        { link: 'http://wonopo.extsm.com/', text: 'エグジットチューンズ(株) - 【「ワン&#9734;オポ! THE BEST OF BEST!!」　店舗特典】　イラスト収録' },
        { link: 'https://www.enterbrain.co.jp/product/mook/mook_entame/214_sing/14187401', text: 'KADOKAWA/エンターブレイン - 【みきとP公式ファンブック「いーあるふぁんぶっく」】　動画の紹介' },
        { link: 'http://ange-vierge.com/', text: '富士見書房×メディアファクトリー - 【アンジュ・ヴィエルジュ ブースターパック第8章　目覚めし暁天の女神】　イラスト描き下ろし' },
        { link: 'http://miku-pack.jp/', text: 'KADOKAWA/アスキー・メディアワークス - 【「MIKU-Pack 13」】 インタビュー' },
        { link: 'http://www.v-flower.jp/', text: 'v flower project - 【「v4 flower」 キャラクターデザイン】　イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/%E3%83%9F%E3%82%AB%E3%82%B0%E3%83%A9%E5%AD%A6%E5%9C%92%E7%B5%84%E6%9B%B2%E5%85%AC%E5%BC%8F%E3%82%A2%E3%83%B3%E3%82%BD%E3%83%AD%E3%82%B8%E3%83%BC%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF-MF%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%B8%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-Last-Note/dp/4040675185', text: 'KADOKAWA/メディアファクトリー(株) - 【ミカグラ学園組曲公式アンソロジーコミック】　漫画描き下ろし' },
        { link: 'http://win100.jp/', text: '晋遊舎 - 【Windows100% 2015年5月号】　ゲームの紹介' },
        { link: 'http://www.amazon.co.jp/%E3%82%AB%E3%82%B2%E3%83%AD%E3%82%A6%E3%83%87%E3%82%A4%E3%82%BA%E5%85%AC%E5%BC%8F%E3%82%A2%E3%83%B3%E3%82%BD%E3%83%AD%E3%82%B8%E3%83%BC%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF-SPICY-MF%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%B8%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%81%98%E3%82%93%EF%BC%88%E8%87%AA%E7%84%B6%E3%81%AE%E6%95%B5%EF%BC%B0%EF%BC%89/dp/4040675088/ref=pd_sim_b_2?ie=UTF8&refRID=0VWEC4SE32TWZSEY649W', text: 'KADOKAWA/メディアファクトリー(株) - 【カゲロウデイズ公式アンソロジーコミック-SPICY-】　漫画描き下ろし' },
        { link: 'http://exittunes-start.jp/', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS START　ジャケットイラスト】　イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/%E3%83%9C%E3%82%AB%E3%83%ADP%E3%81%AE%E4%B8%AD%E3%81%AE%E4%BA%BA-%E3%80%8C%E3%83%9C%E3%82%AB%E3%83%ADP%E3%81%AE%E4%B8%AD%E3%81%AE%E4%BA%BA%E3%80%8D%E3%81%AE%E4%B8%AD%E3%81%AE%E4%BA%BA/dp/4569825095', text: 'PHP研究所 - 【ボカロPの中の人】 インタビュー' },
        { link: 'http://ange-vierge.com/', text: '富士見書房×メディアファクトリー - 【アンジュ・ヴィエルジュ ブースターパック第7章　光輝の風と深闇の盾章】　イラスト描き下ろし' },
        { link: 'http://kradness.jp/', text: 'エグジットチューンズ(株) - 【KRAD MATRiX / kradness(限定盤) 収録MV「鬼KYOKAN」】　イラスト描き下ろし' },
        { link: 'http://millionchain.amebagames.com/', text: 'サイバーエージェント(株) - 【アプリ「ミリオンチェイン」　１キャラ】　イラスト描き下ろし（以降継続で何点か）' },
        { link: 'http://miku-pack.jp/', text: 'KADOKAWA/アスキー・メディアワークス - 【「MIKU-Pack 11」　特集　漫画２ページ】 漫画描き下ろし' },
        { link: 'http://www.freegamenovel.com/alicemare/', text: 'PHP研究所 - 【小説「Alice mare」　表紙・本文他】 執筆&amp;イラスト描き下ろし' },
        { link: 'http://melost.net/', text: 'キングレコード(株) - 【melost　アルバム「Melody Stock」　ラバーストラップ】　デザイン/イラスト描き下ろし' }
      ]
    },
    {
      year: '2014',
      item: [
        { link: 'http://www.amebaspgame.com/uchihime/lp/', text: 'サイバーエージェント(株) - 【アプリ「ウチの姫さまがいちばんカワイイ」　１キャラ】　イラスト描き下ろし' },
        { link: 'http://miku-vocalist.com/', text: 'ﾜｰﾅｰﾐｭｰｼﾞｯｸ・ｼﾞｬﾊﾟﾝ×ﾋﾞｸﾀｰｴﾝﾀﾃｲﾝﾒﾝﾄ - 【「Download feat.初音ミク / Upload feat.Vocalist」　特典他】　イラスト描き下ろし＆収録' },
        { link: 'http://www.amazon.co.jp/dp/4040672100', text: 'KADOKAWA/メディアファクトリー(株) - 【カゲロウデイズ公式アンソロジーコミック-SWEET- 口絵】　イラスト描き下ろし' },
        { link: 'http://www.family.co.jp/campaign/miku2014/', text: 'クリプトン・フューチャー・メディア(株) - 【ミクLOVESファミマ&#9834;キャンペーン4th】　メタルチャーム/缶バッチデザイン' },
        { link: 'http://www.gcmstyle.com/rl_ballad/', text: 'アンメルツP主催 - 【ふたりのねがい -RL Ballad Collection-】　イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/dp/B00KVUIO7K', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS Vocalospace feat. 初音ミク　特典】　イラスト収録' },
        { link: 'http://www.amazon.co.jp/dp/B00GN1QQEY', text: '晋遊舎 - 【Windows100% 2014年9月号】　ゲームの紹介' },
        { link: 'http://ange-vierge.com/', text: '富士見書房×メディアファクトリー - 【アンジュ・ヴィエルジュ エクストラブースター3.5章 少女たちの休日】　イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/dp/4569818323/', text: 'PHP研究所 - 【ゲーム実況の中の人 3冊目】　ゲームの紹介' },
        { link: 'http://ange-vierge.com/', text: '富士見書房×メディアファクトリー - 【アンジュ・ヴィエルジュブースターパック第三章　絶対進化の切札たち】　イラスト描き下ろし' },
        { link: 'http://kuji.goodsmile.jp/', text: 'クリプトン・フューチャー・メディア(株) - 【グッスマくじ 初音ミク 2014 Spring Ver. H賞】　グラフィグデザイン' },
        { link: 'http://mmdrh.thebase.in/items/376228', text: '翠葉企画 - 【お菓子擬人化合同画集　「SWEETS」】　イラスト描き下ろし' },
        { link: 'http://vocalofanatic.com/', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS Vocalofanatic feat. GUMI、IA、MAYU　特典】　動画収録' },
        { link: 'http://www.amazon.co.jp/%E3%82%B7%E3%83%AD%E3%83%8E%E3%83%8E%E3%83%AD%E3%82%A4-MF%E6%96%87%E5%BA%ABJ-namahage2/dp/4040662180/ref=pd_sim_b_4', text: 'MF文庫J - 【小説「シロノノロイ」　表紙他】 イラスト描き下ろし' }
      ]
    },
    {
      year: '2013',
      item: [
        { link: 'http://gumi93eshi.web.fc2.com/', text: 'GUMIイラスト合同企画本 - 【VOCALOID画集「９３絵師」】 イラスト描き下ろし' },
        { link: 'http://www.toranoana.jp/bl/article/04/0030/16/90/040030169044.html', text: 'ツイ廃戦隊 - 【オリジナル画集「王殺黒本-REGICIDE BLACKLIST-」】 イラスト描き下ろし' },
        { link: 'http://www.transcity.jp/', text: 'クリプトン・フューチャー・メディア(株) - 【別府　TRANS CITY FEAT. HATSUNE MIKU「初音ミクin湯のまち別府」】　イラスト描き下ろし' },
        { link: 'http://www.jvcmusic.co.jp/kradness/', text: 'ビクターエンタテインメント(株) - 【KRAD VORTEX / kradness　特典・他】　イラスト描き下ろし' },
        { link: 'http://d-ue.jp/vlove25/disc08.html', text: 'ドワンゴ・ユーザーエンタテインメント(株) - 【V*25 -Hearts-】　動画収録' },
        { link: 'http://ange-vierge.com/', text: '富士見書房×メディアファクトリー - 【アンジュ・ヴィエルジュブースターパック第一章　青藍の聖少女】　イラスト描き下ろし' },
        { link: 'http://vocalog.jp/miyoorecords/astrosing.html', text: 'みよー(株) - 【アストロギアの十二の刻印 うたってみた　ジャケット】　イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/2014%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC-www-piapro-net-%C2%A9Crypton-Future-Media/dp/B00ESECHEG', text: 'クリプトン・フューチャー・メディア(株) - 【初音ミク 2014カレンダー】　イラスト描き下ろし' },
        { link: 'http://famima-miku.jp/', text: 'クリプトン・フューチャー・メディア(株) - 【ファミリーマート「ミクLOVES　ファミマ&#9834;キャンペーン2nd」雑誌裏ポスター】　イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/MIKU-Pack-%E3%83%9F%E3%82%AF%E3%83%91%E3%83%83%E3%82%AF-music-artworks-feat/dp/B00D5X0QPS', text: 'アスキー・メディアワークス(株) - 【MIKU-Pack (ミクパック) 02 music&amp;artworks feat. 初音ミク 】　イラスト描き下ろし' },
        { link: 'http://vocaloextra.com/', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS Vocaloextra fast.GUMI、IA、MAYU　特典】　イラスト収録' },
        { link: 'http://www.amazon.co.jp/%E3%81%93%E3%81%AE%E3%83%9C%E3%82%AB%E3%83%AD%E6%9B%B2%E3%81%8C%E3%81%99%E3%81%94%E3%81%84-%E3%83%9C%E3%82%AB%E3%83%AD%E6%A5%BD%E6%9B%B2%E5%90%8D%E4%BD%9C%E3%82%AC%E3%82%A4%E3%83%892013-%E3%82%B9%E3%82%BF%E3%82%B8%E3%82%AA%E3%83%BB%E3%83%8F%E3%83%BC%E3%83%89%E3%83%87%E3%83%A9%E3%83%83%E3%82%AF%E3%82%B9/dp/4418132163', text: 'スタジオ・ハードデラックス(株) - 【このボカロ曲がすごい! ボカロ楽曲名作ガイド2013】　アンケートの掲載' },
        { link: 'http://d-ue.jp/item/2164/', text: 'ドワンゴ・ユーザーエンタテインメント(株) - 【ぎがばなな　ざ　べすと　～USUSHIO味～ ジャケット他】　イラスト描き下ろし' },
        { link: 'http://michaon.com/', text: 'エグジットチューンズ(株) - 【MEET YOUR ONLY WORLD　/　みちゃおん　特典】　イラスト描き下ろし' },
        { link: 'http://create-box-1.jimdo.com/', text: 'レタスP - 【漫画コンセプトアルバム『クリエイトボックス Vol.1』　ブックレット】　イラスト描き下ろし' },
        { link: 'http://3ps708.wix.com/8itlinkage#', text: 'コンピ - 【曲名しりとり×8bit音使用コンピ『8it linkage』　ジャケット】　イラスト描き下ろし' },
        { link: 'http://mikitop.com/', text: 'エグジットチューンズ(株) - 【僕は初音ミクとキスをした　/　みきとＰfast.初音ミク　特典】　イラスト描き下ろし' },
        { link: 'http://www.p-memories.com/', text: 'クリプトン・フューチャー・メディア(株) - 【ムービック×エンスカイ 「プレシャスメモリーズ　初音ミク」】　イラスト収録' },
        { link: 'http://vocalotwinkle.com/', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS Vocalotwinkle fast.鏡音リン・レン　特典】　イラスト収録' },
        { link: 'http://40mp.jp/', text: 'エグジットチューンズ(株) - 【シンタイソクテイ ／ 40mP feat. 初音ミク、GUMI　特典】　イラスト描き下ろし&amp;動画収録' },
        { link: 'http://vocalosensation.com/', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS Vocalosensation feat. 初音ミク　特典】　イラスト描き下ろし&amp;動画収録' },
        { link: 'http://www.vocalocinema.net/index.html', text: 'VOCALOID CINEMA PARTY 2013 実行委員会 - 【VOCALOID CINEMA PARTY 2013】　動画出展' }
      ]
    },
    {
      year: '_2012',
      item: [
        { link: 'http://www.animate.co.jp/special/rinlenluca/pc/', text: 'クリプトン・フューチャー・メディア(株) - 【アニメイト「鏡音リン・レン&amp;巡音ルカ　フェア」】 イラスト描き下ろし' },
        { link: 'http://www.toranoana.jp/mailorder/article/04/0030/08/80/040030088024.html', text: 'ギガばなな - 【アレンジカバーCD「I am BIG TROUBLE」 】 イラスト&amp;デザイン' },
        { link: 'http://www.toranoana.jp/mailorder/cot/circle/88/38/5730373033383838/5a6f4f_01.html', text: 'まにお&amp;依存 - 【合同画集「Constelloid」 】 イラスト描き下ろし' },
        { link: 'http://kuji.goodsmile.jp/', text: 'クリプトン・フューチャー・メディア(株) - 【ファミリーマート グッスマくじ　E賞 】 イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/dp/B00AB3XHV0/ref=cm_sw_r_tw_dp_OqIRqb02WCRAV', text: 'レタスP - 【1stフルアルバム「パステル」】 イラスト描き下ろし' },
        { link: 'http://www.toranoana.jp/bl/cot/circle/84/90/5730363739303834/2da5c4a5a4c7d1c0efc2e2cbdcc9f42d_01.html', text: 'ツイ廃戦隊 - 【画集-メイン「Space PlaneCts」ボカロ「Re:shuffle」】 イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/dp/B006U9EKDI', text: 'エグジットチューンズ(株) - 【EXIT TUNES PRESENTS SEKIHAN the TREASURE　特典】 イラスト描き下ろし' },
        { link: 'http://mikumoba.jp/', text: 'クリプトン・フューチャー・メディア(株) - 【ミクモバきせかえ「RinLen&#9734;Days!」】 イラスト描き下ろし' },
        { link: 'http://www.amazon.co.jp/love-Vocaloid-Love-%EF%BD%9EBrave-Heart%EF%BD%9E/dp/B0067GJVWO', text: 'BinaryMixx Records - 【V love 25～Brave Heart～】  イラスト収録' },
        { link: 'http://www.amazon.co.jp/%E3%83%9C%E3%82%AB%E3%83%ADPlus-vol-3-%EF%BC%88%E3%83%AD%E3%83%9E%E3%83%B3%E3%82%A2%E3%83%AB%E3%83%90%E3%83%A0%EF%BC%89/dp/4197203454', text: '徳間書店 - 【ボカロplus Voi.3】  イラスト収録' },
        { link: 'http://www.vocalocinema.net/', text: 'StokeHold主催 - 【VOCALOID CINEMA PARTY 2012】  動画出展' },
        { link: 'http://habcy.bitter.jp/kagaminefolk/index.html', text: 'みっち（かいわれP)主催 - 【鏡音民族調コンピ「Caleidoscopio】」 イラスト描き下ろし' },
        { link: 'http://ameblo.jp/honeyworks828/entry-11134618761.html', text: 'HoneyWorks - 【コンピイラスト集『泣キ虫』】 イラスト描き下ろし' }
      ]
    }
  ]
-%>
<div class="p-works c-section__box">
  <p class="p-works__text">
    主にイラスト、漫画、動画制作他、Vtuber素体制作やLive2Dの動作設定などのお力添えもしております。<br>
    特殊なものでは小説執筆やロゴデザインなども。
  </p>
  <% links.forEach(link => { -%>
  <div class="p-works__box">
    <h4 class="p-works__title" data-toggle><img src="/img/works/<%= link.year %>.png" alt="" /></h4>
    <ul class="p-works__list <%= link.class %>">
      <% link.item.forEach(item => { -%>
      <li class="p-works__item">
        <a href="<%= item.link %>" target="_blank">&#9733;</a><%= item.text %>
      </li>
      <% }); %>
    </ul>
  </div>
  <% }); %>
</div>