.l-basic {
  &__main {
    width: $pc-w-px;
    margin: 0 auto;
    @include wide {
      width: pcvw($pc-w);
    }
    @include sp {
      width: 100%;
    }
  }
  &__contents {
    width: $pc-wrap-w-px;
    margin: 0 auto;
    @include wide {
      width: pcvw($pc-wrap-w);
    }
    @include sp {
      width: auto;
    }
  }
  &__kv {
    $mt: 40;
    margin: pcpx($mt) 0;
    @include wide {
      margin: pcvw($mt) 0;
    }
    @include sp {
      margin: 16px 0 24px;
    }
  }
}
