.l-basic {
  &__main {
  }
  &__contents {
    width: $pc-wrap-w-px;
    margin: 0 auto;
    @include wide {
      width: pcvw($pc-wrap-w);
    }
    @include sp {
      width: auto;
    }
  }
  &__kv {
    $mt: 40;
    margin: pcpx($mt) 0;
    @include wide {
      margin: pcvw($mt) 0;
    }
    @include sp {
      $mt: 16;
      $mb: 24;
      margin: spvw($mt) 0 spvw($mb);
    }
  }
  &__page-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    transition: opacity 0.2s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    @include sp {
      display: none;
    }
  }
  &__menu {
    display: none;
    position: fixed;
    right: 0;
    background-color: $black;
    z-index: 100;
    cursor: pointer;
    @include sp {
      display: block;
      $pt: 9;
      $pr: 18;
      $b: 14;
      bottom: spvw($b);
      padding: spvw($pt) spvw($pr);
    }
    img {
      @include sp {
        $w: 37;
        $h: 45;
        width: spvw($w);
        height: spvw($h);
      }
    }
  }
  &__navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $black;
    transform: translateX(100vw);
    z-index: 200;
    transition: transform 0.2s ease;
    @include sp {
      display: block;
    }
    &.is-active {
      @include sp {
        transform: translateX(0);
      }
    }
  }
  &__footer {
    $mt: 74;
    margin-top: pcpx($mt);
    @include wide {
      margin-top: pcvw($mt);
    }
    @include sp {
      $mt: 40;
      margin-top: spvw(40);
    }
  }
}
