.l-basic {
  &__main {
  }
  &__contents {
    width: $pc-wrap-w-px;
    margin: 0 auto;
    @include wide {
      width: pcvw($pc-wrap-w);
    }
    @include sp {
      width: auto;
    }
  }
  &__kv {
    $mt: 40;
    margin: pcpx($mt) 0;
    @include wide {
      margin: pcvw($mt) 0;
    }
    @include sp {
      $mt: 16;
      $mb: 24;
      margin: spvw($mt) 0 spvw($mb);
    }
  }
  &__page-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    transition: opacity 0.2s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    @include sp {
      display: none;
    }
  }
  &__footer {
    $mt: 74;
    margin-top: pcpx($mt);
    @include wide {
      margin-top: pcvw($mt);
    }
    @include sp {
      $mt: 40;
      margin-top: spvw(40);
    }
  }
}
