.p-contact {
  $mt: 30;
  margin-top: pcpx($mt);
  @include wide {
    margin-top: pcvw($mt);
  }
  @include sp {
    $mt: 16;
    margin-top: spvw($mt);
  }
  &__text {
    $fz: 16;
    font-size: pcpx($fz);
    line-height: 2;
    @include wide {
      font-size: pcvw($fz);
    }
    @include sp {
      $fz: 12;
      font-size: spvw($fz);
      line-height: 1.6;
      text-align: center;
    }
    .emphasis {
      color: $red;
    }
    .description {
      @include sp {
        $fz: 10;
        font-size: spvw($fz);
      }
    }
  }
  &__mail {
    $mt: 20;
    $fz: 24;
    display: block;
    margin: pcpx($mt) 0;
    font-size: pcpx($fz);
    line-height: 1.2;
    @include wide {
      margin: pcvw($mt) 0;
      font-size: pcvw($fz);
    }
    @include sp {
      $mt: 14;
      $fz: 16;
      margin: spvw($mt) 0;
      font-size: spvw($fz);
    }
  }
  &__list {
    $mt: 56;
    $p: 25;
    $bdw: 4;
    margin-top: pcpx($mt);
    padding: pcpx($p);
    background-color: $white;
    border: pcpx($bdw) solid $red;
    @include wide {
      margin-top: pcvw($mt);
      padding: pcvw($p);
      border-width: pcvw($bdw);
    }
    @include sp {
      $mt: 32;
      $p: 12;
      margin-top: spvw($mt);
      padding: spvw($p);
      border-width: spvw($bdw);
    }
  }
  &__item {
    $fz: 14;
    font-size: pcpx($fz);
    line-height: 1.86;
    margin-left: 1em;
    text-indent: -1em;
    @include wide {
      font-size: pcvw($fz);
    }
    @include sp {
      $fz: 12;
      font-size: spvw($fz);
    }
  }
}
