.p-gallery-game {
  &__wrap {
    position: relative;
  }
  &__slide {
    $w: 740;
    width: pcpx($w);
    height: 100%;
    @include wide {
      width: pcvw($w);
    }
    @include sp {
      width: 100%;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      display: none;
    }
  }
  &__prev,
  &__next {
    $fz: 34;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include sp {
      display: none;
    }
    &::after {
      content: 'prev';
      font-family: 'swiper-icons';
      font-size: pcpx($fz);
      color: $black;
      @include wide {
        font-size: pcvw($fz);
      }
    }
  }
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
    &::after {
      content: 'next';
    }
  }
  &__thumbnail {
    $pt: 10;
    height: 20%;
    box-sizing: border-box;
    padding: pcpx($pt) 0;
    @include wide {
      padding: pcvw($pt) 0;
    }
    @include sp {
      display: none;
    }
    .swiper-slide {
      cursor: pointer;
      height: 100%;
      opacity: 0.4;
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
