.p-gallery-game {
  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    color: $black;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .p-gallery-game__slide {
    height: 80%;
    width: 100%;
  }
  .p-gallery-game__thumbnail {
    $pt: 10;
    height: 20%;
    box-sizing: border-box;
    padding: pcpx($pt) 0;
    @include wide {
      padding: pcvw($pt) 0;
    }
    @include sp {
      $pt: 8;
      padding: spvw($pt) 0;
    }
    .swiper-slide {
      cursor: pointer;
    }
  }
  .p-gallery-game__thumbnail .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }
  .p-gallery-game__thumbnail .swiper-slide-thumb-active {
    opacity: 1;
  }
}
