.p-gallery-movie {
  &__contents {
    $w: 800;
    $h: 210;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: pcpx($w);
    height: pcpx($h);
    overflow: hidden;
    @include wide {
      width: pcvw($w);
      height: pcvw($h);
    }
    @include sp {
      $h: 78;
      width: 100%;
      height: spvw($h);
    }
    &::before {
      $h: 210;
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: pcpx($h);
      z-index: 1;
      background-color: rgba($black, 0.6);
      @include wide {
        height: pcvw($h);
      }
      @include sp {
        $h: 78;
        height: spvw($h);
      }
    }
  }
  &__video {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: center / cover no-repeat;
    @include sp {
      width: 100%;
      height: 100%;
    }
    iframe {
      $w: 800;
      $h: 450;
      width: pcpx($w);
      height: pcpx($h);
      @include wide {
        width: pcvw($w);
        height: pcvw($h);
      }
      @include sp {
        display: none;
      }
    }
  }
  &__list {
    position: relative;
    display: flex;
    z-index: 2;
  }
  &__item {
    &:not(:last-child) {
      $mr: 60;
      margin-right: pcpx($mr);
      @include wide {
        margin-right: pcvw($mr);
      }
      @include sp {
        $mr: 24;
        margin-right: spvw($mr);
      }
    }
  }
  &__link {
    $pt: 16;
    $pr: 30;
    $fz: 26;
    display: block;
    padding: pcpx($pt) pcpx($pr);
    font-size: pcpx($fz);
    font-family: "Cormorant", serif;
    color: $white;
    border: 1px solid $white;
    transition-property: background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    @include wide {
      padding: pcvw($pt) pcvw($pr);
      font-size: pcvw($fz);
    }
    @include sp {
      $pt: 8;
      $pr: 16;
      $fz: 16;
      padding: spvw($pt) spvw($pr);
      font-size: spvw($fz);
    }
    &:hover {
      background-color: $black;
      border-color: $black;
    }
  }
}