.p-other {
  $mt: 40;
  margin-top: pcpx($mt);
  @include wide {
    margin-top: pcvw($mt);
  }
  @include sp {
    $mt: 24;
    margin-top: spvw($mt);
  }
  &__box {
    &:not(:last-child) {
      $mb: 60;
      margin-bottom: pcpx($mb);
      @include wide {
        margin-bottom: pcvw($mb);
      }
      @include sp {
        $mb: 24;
        margin-bottom: spvw($mb);
      }
    }
  }
  &__picture {
    $w: 320;
    $mb: 10;
    width: pcpx($w);
    margin-bottom: pcpx($mb);
    @include wide {
      width: pcvw($w);
      margin-bottom: pcvw($mb);
    }
    @include sp {
      $mb: 8;
      width: 100%;
      margin-bottom: pcvw($mb);
    }
  }
  &__title {
    $fz: 24;
    font-size: pcpx($fz);
    line-height: 1.4;
    font-weight: bold;
    @include wide {
      font-size: pcvw($fz);
    }
    @include sp {
      $mb: 8;
      $fz: 16;
      margin-bottom: spvw($mb);
      font-size: spvw($fz);
    }
  }
  &__text {
    $fz: 14;
    font-size: pcpx($fz);
    line-height: 1.4;
    @include wide {
      font-size: pcvw($fz);
    }
    @include sp {
      $fz: 12;
      font-size: spvw($fz);
      line-height: 1.6;
    }
  }
  &__button {
    $mt: 20;
    $pt: 10;
    $pr: 20;
    $fz: 12;
    $bdrs: 4;
    display: inline-block;
    margin-top: pcpx($mt);
    padding: pcpx($pt) pcpx($pr);
    font-size: pcpx($fz);
    color: $white;
    border-radius: pcpx($bdrs);
    background-color: $black;
    border: 1px solid $black;
    transition: background-color 0.2s ease, color 0.2s ease;
    @include wide {
      margin-top: pcvw($mt);
      padding: pcvw($pt) pcvw($pr);
      font-size: pcvw($fz);
      border-radius: pcvw($bdrs);
    }
    @include sp {
      $mt: 8;
      margin-top: spvw($mt);
      padding: spvw($pt) spvw($pr);
      font-size: spvw($fz);
      border-radius: spvw($bdrs);
    }
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}