.p-works {
  $mt: 40;
  margin-top: pcpx($mt);
  @include wide {
    margin-top: pcvw($mt);
  }
  @include sp {
    $mt: 24;
    margin-top: spvw($mt);
  }
  &__text {
    $mb: 24;
    $fz: 14;
    margin-bottom: pcpx($mb);
    font-size: pcpx($fz);
    line-height: 2;
    @include wide {
      margin-bottom: pcvw($mb);
      font-size: pcvw($fz);
    }
    @include sp {
      $fz: 12;
      margin-bottom: spvw($mb);
      font-size: spvw($fz);
      line-height: 1.6;
    }
    a {
      color: $link;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__box {
    &:not(:last-child) {
      $mb: 24;
      margin-bottom: pcpx($mb);
      @include wide {
        margin-bottom: pcvw($mb);
      }
      @include sp {
        margin-bottom: spvw($mb);
      }
    }
  }
  &__title {
    $w: 504;
    $bdrs: 14;
    width: pcpx($w);
    border-radius: pcpx($bdrs);
    overflow: hidden;
    cursor: pointer;
    @include wide {
      width: pcvw($w);
      border-radius: pcvw($bdrs);
    }
    @include sp {
      $bdrs: 6;
      max-width: spvw($w);
      width: 100%;
      border-radius: spvw($bdrs);
    }
  }
  &__list{
    padding-top: 0;
    transition: padding-top 0.2s ease;
    &.is-active {
      $pt: 20;
      padding-top: pcpx($pt);
      @include wide {
        padding-top: pcvw($pt);
      }
      @include sp {
        $pt: 16;
        padding-top: spvw($pt);
      }
      .p-works__item {
        line-height: 2;
        opacity: 1;
        @include sp {
          line-height: 1.6;
        }
        &:not(:last-child) {
          $mb: 16;
          margin-bottom: pcpx($mb);
          @include wide {
            margin-bottom: pcvw($mb);
          }
          @include sp {
            margin-bottom: spvw($mb);
          }
        }
      }
    }
  }
  &__item{
    $fz: 14;
    font-size: pcpx($fz);
    margin-left: 1.5em;
    text-indent: -1.5em;
    line-height: 0;
    margin-bottom: 0;
    opacity: 0;
    transition-property: line-height, margin-bottom, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    @include wide {
      font-size: pcvw($fz);
    }
    @include sp {
      $fz: 12;
      font-size: spvw($fz);
    }
    a {
      margin-right: 0.5em;
      color: $link;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}