<!DOCTYPE html>
<html lang="ja">

<%- include('./_object/_component/_head.ejs') %>

<body>
  <%- include('./_object/_component/_header.ejs') %>
  <!--スライド-->
  <div class="relative wrap">
    <ul class="bxslider">
      <li><img src="images/mainvisual01.jpg" alt="mainvisual01"></li>
      <li><img src="images/mainvisual02.jpg" alt="mainvisual02"></li>
      <li><img src="images/mainvisual03.jpg" alt="mainvisual03"></li>
      <li><img src="images/mainvisual04.jpg" alt="mainvisual04"></li>
      <li><img src="images/mainvisual05.jpg" alt="mainvisual05"></li>
    </ul>
    <!--スライドメニュー-->
    <nav class="pc">
      <p class="menu01 hvr-pulse-grow infinite"><a href="index.html"><img src="images/menu01.png" alt="menu01"></a></p>
      <p class="menu02 hvr-pulse-grow infinite"><a href="gallery/index.html"><img src="images/menu02.png"
            alt="menu02"></a></p>
      <p class="menu03 hvr-pulse-grow infinite"><a href="works/index.html"><img src="images/menu03.png"
            alt="menu03"></a></p>
      <p class="menu04 hvr-pulse-grow infinite"><a href="other/index.html"><img src="images/menu04.png"
            alt="menu04"></a></p>
    </nav>
  </div>

  <section class="wrap">

    <!--記事1-->
    <div class="topsub box">
      <h2><img src="images/welcome.png" alt="welcome"></h2>
      <div class="text">
        <p>個人運営の一次創作・二次創作イラスト中心サイトです</p>
        <p>版権物に関しましては元の出版社様、原作者様等とは一切関係御座いません</p>
        <p>サイト内のイラストの無断転載・複製等はご遠慮ください</p>
        <p><span>何か御座いましたら下記のCONTACTのアドレスへお願い致します</span></p>
        <p>※個人依頼はお知り合いかその繋がりの方のみとしております</p>
        <p>※動画制作のご依頼は現在停止中です（一枚絵の静止画に歌詞を載せる程度なら可）</p>
        <p>※ご連絡の際お手数かと思いますので、宛名は読みの”みわ　しいば”のみで大丈夫です</p>
        <p>※R-18のご依頼はお受けできません</p>
        <p>※お返事が必須なもので、3～4日以内に返信がなければ、お手数お掛け致しますがもう一度送って頂けますと幸いです</p>
        ⇒---
        <a href="https://www.pixiv.net/member.php?id=2550807" target="_blank">PIXIV</a> /
        <a href="https://www.nicovideo.jp/user/21427527/" target="_blank">NICONICO</a> /
        <a href="https://miwashiiba.tumblr.com/" target="_blank">TUMBLR</a> /
        <a href="https://www.pixiv.net/fanbox/creator/2550807" target="_blank">FANBOX</a> 　★　

        <a href="https://store.steampowered.com/search/?term=miwashiba" target="_blank">STEAM</a> /
        <a href="https://miwasiba.booth.pm/" target="_blank">BOOTH</a>

      </div>
    </div>

    <!--記事2-->
    <div class="sub1 box">
      <h2><img src="images/about.png" alt="about"></h2>
      <div class="text">
        <p>△○□×（みわ しいば）</p>
        <p>４月２２日 / A型 / 福岡</p>
        <p>実家の手伝いをしつつフリーでイラストレーターをしています。絵を描いたり他には動画を作ったり。色々挑戦したい。</p>
      </div>
    </div>

    <!--記事3-->
    <div class="sub2 box">
      <h2><img src="images/soft.png" alt="soft"></h2>
      <div class="text">
        <p>使用ソフト</p>
        <p>photoshop CS6 / SAI</p>
        <p>CLIPStudioPaint EX</p>
        <p>After Effect CS6</p>
        <p>AviUtl / つんでれんこ</p>
      </div>
    </div>

    <!--記事4-->
    <div class="sub3 box">
      <h2><img src="images/contact.png" alt="contact"></h2>
      <div class="text">
        <p><strong>miwa_siba☆hotmail.co.jp(☆→＠)</strong></p>
        <p>お力添え出来そうなお話がありましたらお願い致します</p>
        <p>現在<span>【2020年6月中納期】</span>以降のご依頼を募集しております</p>
        <p>※上記納期以外でも内容次第ではご相談可能です（イラスト少数制作など）</p>
        <p>納期や報酬等はご連絡の際にご提示頂けますと大変助かります</p>
        <p>現在イラストを優先的に、動画のお手伝いは停止中です</p>
      </div>
    </div>

  </section>

  <!--左下トップアイコン-->
  <div class="c-page-top"><img src="/img/icon_top.svg" alt=""></div>

  <!--フッター-->
  <footer>
    <p>Copyright &copy;2017 miwashiiba All Rights Reserved.</p>
  </footer>

</body>

</html>