.c-footer {
  $pt: 20;
  $pb: 18;
  padding: pcpx($pt) 0 pcpx($pb);
  text-align: center;
  background-color: $black;
  @include wide {
    padding: pcvw($pt) 0 pcvw($pb);
  }
  @include sp {
    $pt: 26;
    $pr: 24;
    $pb: 40;
    padding: spvw($pt) spvw($pr) spvw($pb);
  }
  &__text {
    $fz: 12;
    font-size: pcpx($fz);
    color: $white;
    @include wide {
      font-size: pcvw($fz);
    }
    @include sp {
      $fz: 10;
      font-size: spvw($fz);
    }
  }
}
