.c-header {
  width: 100%;
  background-color: $black;
  @include pc {
    min-width: $pc-width;
    margin: 0 auto;
  }
  &__wrap {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    padding: get_vw(12) get_vw(8);
    @include pc {
      width: $pc-content-width;
      margin: 0 auto;
      padding: 22px 0;
    }
  }
  &__logo {
    width: 140px;
    width: get_vw(140);
    @include pc {
      width: 196px;
    }
  }
  &__nav {
    display: none;
    @include pc {
      display: block;
      margin-left: auto;
    }
  }
  &__lists {
    display: flex;
    align-items: center;
  }
  &__list {
    &:not(:last-child) {
      margin-right: 10px;
      &::after {
        content: "/";
        padding: 0 10px;
        color: $white;
      }
    }
  }
  &__text {
    font-size: 16px;
    color: $white;
  }
}
