.c-kv {
  &__menu {
    $b: 30;
    $w: 892;
    position: absolute;
    left: 50%;
    bottom: pcpx($b);
    display: flex;
    justify-content: space-between;
    width: pcpx($w);
    margin: 0 auto;
    transform: translateX(-50%);
    z-index: 100;
    @include wide {
      bottom: pcvw($b);
      width: pcvw($w);
    }
    @include sp {
      display: none;
    }
  }
  &__menu-list {
    $w: 166;
    width: pcpx($w);
    transition: transform 0.2s ease;
    @include wide {
      width: pcvw($w);
    }
    a:hover {
      opacity: 1;
    }
    &:hover {
      transform: scale(1.04);
    }
    &:nth-child(2),
    &:nth-child(3) {
      $mt: 60;
      margin-top: pcpx($mt);
      @include wide {
        margin-top: pcvw($mt);
      }
    }
  }
}
