.c-menu {
  &__container {
    color: $white;
    text-align: right;
    @include sp {
      $pt: 32;
      $pr: 32;
      $pb: 120;
      padding: spvw($pt) spvw($pr) spvw($pb);
    }
  }
  &__close {
    display: inline-block;
    margin-left: auto;
    font-family: "Cormorant", serif;
    color: $white;
    border: 1px solid $white;
    @include sp {
      $mb: 32;
      $p: 10;
      $fz: 24;
      margin-bottom: spvw($mb);
      padding: spvw($p);
      font-size: spvw($fz);
    }
  }
  &__nav {}
  &__list {
    text-align: center;
  }
  &__item {
    &:not(:last-child) {
      @include sp {
        $mb: 24;
        margin-bottom: spvw($mb);
      }
    }
  }
  &__link {
    display: block;
    font-family: "Cormorant", serif;
    color: $white;
    @include sp {
      $fz: 40;
      font-size: spvw($fz);
    }
  }
}