<head>
  <meta charset="utf-8">
  <title>Star Vlasta</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/swiper.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/bundle.js"></script>
</head>