<head>
  <meta charset="utf-8">
  <title>Star Vlasta | miwashiba (みわ しいば)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <meta property="og:title" content="Star Vlasta | miwashiba (みわ しいば)" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@miwasiba" />
  <meta property="og:description" content='イラストレーター△○□× (みわ しいば) 実家の手伝いをしつつフリーでイラストレーターをしています。' />
  <meta property="og:url" content="http://www.mwo48.com" />
  <meta property="og:image" content="http://www.mwo48.com/ogimage.jpg" />
  <link rel="stylesheet" href="/css/main.css">
</head>