<%
  const menu = [
    { name: 'Top', link: '/' },
    { name: 'Gallery', link: '/gallery/' },
    { name: 'Works', link: '/works/' },
    { name: 'Other', link: '/other/' }
  ]
-%>
<header class="c-header">
  <div class="c-header__wrap">
    <h1 class="c-header__logo">
      <a href="/" class="c-header__link"><img src="/img/logo.svg" alt="Star Vlasta"></a>
    </h1>
    <nav class="c-header__nav">
      <ul class="c-header__lists">
        <% menu.forEach(e => { -%>
        <li class="c-header__list">
          <a href="<%= e.link %>" class="c-header__text"><%= e.name %></a>
        </li>
        <% }); %>
      </ul>
    </nav>
  </div>
</header>