<section class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/img/kv_01.jpg" alt="" width="960" height="405">
    </div>
    <div class="swiper-slide">
      <img src="/img/kv_02.jpg" alt="" width="960" height="405">
    </div>
    <div class="swiper-slide">
      <img src="/img/kv_03.jpg" alt="" width="960" height="405">
    </div>
    <div class="swiper-slide">
      <img src="/img/kv_04.jpg" alt="" width="960" height="405">
    </div>
    <div class="swiper-slide">
      <img src="/img/kv_05.jpg" alt="" width="960" height="405">
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>