<%
  const menu = [
    { name: 'TOP', img: '/img/menu_top.svg', link: '/' },
    { name: 'GALLERY', img: '/img/menu_gallery.svg', link: '/gallery/' },
    { name: 'WORKS', img: '/img/menu_works.svg', link: '/works/' },
    { name: 'OTHER', img: '/img/menu_other.svg', link: '/other/' }
  ]
-%>
<div class="c-kv swiper-container">
  <div class="swiper-wrapper">
    <% for(i = 0; i < 5; i++) { %>
    <div class="swiper-slide">
      <img src="/img/kv_0<%= i+1 %>.jpg" alt="" width="960" height="405" />
    </div>
    <% } %>
  </div>
  <div class="swiper-pagination"></div>
  <ul class="c-kv__menu">
    <% menu.forEach(e => { -%>
    <li class="c-kv__menu-list">
      <a href="<%= e.link %>">
        <img src="<%= e.img %>" alt="<%= e.name %>" />
      </a>
    </li>
    <% }); %>
  </ul>
</div>
